<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth">
      <div class="row flex-grow">
        <div class="col-lg-4 mx-auto">
          <div class="auth-form-light text-left p-5">
            <div class="brand-logo">
              <img src="../../../../assets/dist/images/logo-PIL.svg">
            </div>
            <h4>Te damos la bienvenida</h4>
            <h6 class="font-weight-light">Registrarse es fácil solo te llevará unos pocos minutos</h6>
            <form class="pt-3" [formGroup]="formulario" (ngSubmit)="onSubmit()" role="form text-left">
              <div class="form-group">
                <input type="text" class="form-control form-control-lg" formControlName="firstName" placeholder="Nombre"
                  aria-label="Name" aria-describedby="email-addon" required
                  [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">

                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                  <div *ngIf="f.firstName.errors.required">El nombre es requerido</div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control form-control-lg" formControlName="lastName"
                  placeholder="Apellido" aria-label="Name" aria-describedby="email-addon" required autocomplete="off"
                  [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">

                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                  <div *ngIf="f.lastName.errors.required">El apellido es requerido</div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control form-control-lg" formControlName="dni" placeholder="DNI"
                  aria-label="Name" aria-describedby="email-addon" required autocomplete="off"
                  [ngClass]="{ 'is-invalid': submitted && f.dni.errors }">

                <div *ngIf="submitted && f.dni.errors" class="invalid-feedback">
                  <div *ngIf="f.dni.errors.required">El DNI es requerido</div>
                  <div *ngIf="f.dni.errors?.pattern">El DNI debe tener 8 caracteres</div>
                </div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control form-control-lg" formControlName="mail" placeholder="Email"
                  aria-label="Email" aria-describedby="email-addon" required
                  [ngClass]="{ 'is-invalid': submitted && f.mail.errors }">

                <div *ngIf="submitted && f.mail.errors" class="invalid-feedback">
                  <div *ngIf="f.mail.errors.required">El correo es requerido</div>
                  <div *ngIf="f.mail.errors?.email">El correo tiene que tener el formato adecuado</div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control form-control-lg" formControlName="username"
                  placeholder="Nombre de usuario" aria-label="Name" aria-describedby="email-addon" required
                  [ngClass]="{ 'is-invalid': submitted && f.username.errors }">

                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  <div *ngIf="f.username.errors.required">El nombre de usuario es requerido</div>
                </div>
              </div>
              <div class="form-group">
                <input type="password" class="form-control form-control-lg" formControlName="password" placeholder="Contraseña" 
                  aria-label="Password" aria-describedby="password-addon" required
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }">

                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">La contraseña es requerida</div>
                    <div *ngIf="f.password.errors.minlength">La contraseña debe tener al menos 8 caracteres</div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="formFile" class="form-label">Ingrese la foto de perfil</label>
                  <input class="form-control" type="file" id="imagen_1" (change)="fileEvent($event)">
                </div>
                <div class="mb-3">
                  <label for="formFile" class="form-label"></label>
                  <!-- <input class="form-control" type="file" id="imagen_2" (change)="fileEvent2($event)"> -->
                  <img *ngIf="img_doc_2" [src]="img_doc_2" class="img-thumbnail" alt="imagen de perfil" width="200">
                </div>
              <div class="mt-3">
                 <button type="submit" data-bs-toggle="modal" data-bs-target="#verificacionDoc" 
                  class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" [disabled]="!aceptarTerminos">Registrar</button>
              </div>
              <div class="text-center mt-4 font-weight-light"> Ya tienes una cuenta? <a routerLink="/login"
                  class="text-primary">Iniciar Sesión</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
