<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth">
      <div class="row flex-grow">
        <div class="col-lg-4 mx-auto">
          <div class="auth-form-light text-left p-5">
            <div class="brand-logo">
              <img src="../../../../assets/dist/images/logo.svg">
            </div>
            <h4>Verificación de Documento</h4>
            <h6 class="font-weight-light">Realice la validación de documento para continuar</h6>
            <form class="pt-3" role="form text-left">
              <div class="form-group">
                <label for="formFile" class="form-label">Ingrese la foto del frente del Documento</label>
                <input class="form-control form-control-lg" type="file" id="imagen_1" (change)="fileEvent($event)"> 
              </div>
              <div class="form-group">
                <label for="formFile" class="form-label form-lg">Ingrese la foto de atras del Documento</label>
                <input class="form-control form-control-lg" type="file" id="imagen_2" (change)="fileEvent2($event)">
              </div>
              <div class="mt-3">
                <button type="button" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" routerLink="/registro">Volver</button>
                <button type="button" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" (click)="subirArchivos()">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->