<div class="container-scroller">
  <!-- partial:../../partials/_navbar.html -->
  <app-menu></app-menu>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:../../partials/_sidebar.html -->
    <app-menu-lateral></app-menu-lateral>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper margenes">
        <div class="page-header">
          <h3 class="page-title">
            <span
              class="page-title-icon text-white mr-2"
              style="background: linear-gradient(to right, #494889, #292874)"
            >
              <i class="mdi mdi-home"></i>
            </span>
            Panel Principal
          </h3>
          <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">
                <span></span>
                <!-- <i
                  class="
                    mdi mdi-alert-circle-outline
                    icon-sm
                    text-primary
                    align-middle
                  "
                ></i> -->
              </li>
            </ul>
          </nav>
        </div>
        <div class="row">
          <div class="col-md-4 stretch-card grid-margin">
            <div
              class="card card-img-holder text-white"
              style="background: linear-gradient(to right, #754dd1, #573fad)"
            >
              <div class="card-body">
                <img
                  src="assets/dist/images/dashboard/circle.svg"
                  class="card-img-absolute"
                  alt="circle-image"
                />
                <h4 class="font-weight-normal mb-3">
                  Cuenta Pesos
                  <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">$ 15,000</h2>
                <h6 class="card-text">5 Movimiento registrado</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4 stretch-card grid-margin">
            <div
              class="card card-img-holder text-white"
              style="background: linear-gradient(to right, #59bbf8, #4276ba)"
            >
              <div class="card-body">
                <img
                  src="assets/dist/images/dashboard/circle.svg"
                  class="card-img-absolute"
                  alt="circle-image"
                />
                <h4 class="font-weight-normal mb-3">
                  Cuenta Dolares
                  <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">U$S 45,6334</h2>
                <h6 class="card-text">1 Movimiento registrado</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4 stretch-card grid-margin">
            <div
              class="card card-img-holder text-white"
              style="background: linear-gradient(to right, #3ad9de, #3392b4)"
            >
              <div class="card-body">
                <img
                  src="../../../../assets/dist/images/dashboard/circle.png"
                  class="card-img-absolute"
                  alt="circle-image"
                />
                <h4 class="font-weight-normal mb-3">
                  Cuenta Criptomonedas<i
                    class="mdi mdi-diamond mdi-24px float-right"
                  ></i>
                </h4>
                <h2 class="mb-5">BIT 2.5</h2>
                <h6 class="card-text">Actualmente Minando</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div
                class="card-header"
                style="background: linear-gradient(to right, #494889, #292874)"
              >
                <h4 class="titulo-card-movimientos float-left">
                  Pagar mis servicios
                </h4>
                >
              </div>

              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li *ngFor="let dato of listadoServicio"
                    class="
                      list-group-item list-group-item-hover
                      d-flex
                      justify-content-between
                      align-items-center
                    "
                  >
                    <h6>{{dato.TipoServicio}}</h6>
                    <a href="#" class="btn btn-link float-right pagar">
                      PAGAR</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card">
              <div
                class="card-header"
                style="background: linear-gradient(to right, #494889, #292874)"
              >
                <div>
                  <h4 class="titulo-card-movimientos float-left">
                    Mis últimos movimientos
                  </h4>
                  <a href="#" class="btn btn-link float-right ver-mas">
                    Ver mas</a
                  >
                </div>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li
                    class="
                      list-group-item
                      d-flex
                      justify-content-between
                      align-items-center
                    "
                  >
                    Pagaste Aguas Cordobesas
                    <span>-$860,57</span>
                  </li>
                  <li
                    class="
                      list-group-item
                      d-flex
                      justify-content-between
                      align-items-center
                    "
                  >
                    Pagaste Epec
                    <span>-$4261,99</span>
                  </li>
                  <li
                    class="
                      list-group-item
                      d-flex
                      justify-content-between
                      align-items-center
                    "
                  >
                    Recibiste una transferencia de Juan
                    <span>+$230,00</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:../../partials/_footer.html -->
      <app-pie-pagina></app-pie-pagina>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
