<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <app-menu ></app-menu>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
      <app-menu-lateral></app-menu-lateral>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper margenes">
          <div class="page-header">
            <h3 class="page-title">
              <span
                class="page-title-icon text-white mr-2"
                style="background: linear-gradient(to right, #494889, #292874)"
              >
                <i class="mdi mdi-settings"></i>
              </span>
              Configuración del Perfil
            </h3>
            <nav aria-label="breadcrumb">
              <ul class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                  <span></span>
                  <!-- <i
                    class="
                      mdi mdi-alert-circle-outline
                      icon-sm
                      text-primary
                      align-middle
                    "
                  ></i> -->
                </li>
              </ul>
            </nav>
          </div>
          <div class="row">
            
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <app-pie-pagina></app-pie-pagina>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  