<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <app-menu ></app-menu>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
      <app-menu-lateral></app-menu-lateral>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper margenes">
          <div class="page-header">
            <h3 class="page-title">
              <span
                class="page-title-icon text-white mr-2"
                style="background: linear-gradient(to right, #494889, #292874)"
              >
                <i class="mdi mdi-settings"></i>
              </span>
              Configuración del Perfil
            </h3>
            <nav aria-label="breadcrumb">
              <ul class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                  <span></span>
                  <!-- <i
                    class="
                      mdi mdi-alert-circle-outline
                      icon-sm
                      text-primary
                      align-middle
                    "
                  ></i> -->
                </li>
              </ul>
            </nav>
          </div>
          <div class="row">
            <div class="col-md-2">
              <img [src]="img_doc" width="200" class="img-thumbnail" alt="...">
            </div>
            <div class="col-md-6">
              <form class="forms-sample">
                <div class="form-group">
                  <label for="nombre">Nombre</label>
                  <input type="text" class="form-control" id="nombre" placeholder="Nombre" value="{{Usuario[0].Nombre}}">
                </div>
                <div class="form-group">
                  <label for="apellido">Apellido</label>
                  <input type="text" class="form-control" id="apellido" placeholder="Apellido" value="{{Usuario[0].Apellido}}">
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email" placeholder="Email" value="{{Usuario[0].Email}}">
                </div>
                <div class="form-group">
                  <label for="foto">Imagen</label>
                  <input type="file" class="form-control" id="foto">
                </div>
                <button type="submit" class="btn btn-gradient-primary mr-2">Guardar</button>
                <button class="btn btn-light" routerLink="/dashboard">Cancelar</button>
              </form>
            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <!-- <app-pie-pagina></app-pie-pagina> -->
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  