<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <app-menu ></app-menu>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
      <app-menu-lateral></app-menu-lateral>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper margenes">
          <div class="page-header">
            <h3 class="page-title">
              <span
                class="page-title-icon text-white mr-2"
                style="background: linear-gradient(to right, #494889, #292874)"
              >
                <i class="mdi mdi-deskphone"></i>
              </span>
              Pago de servicios
            </h3>
            <nav aria-label="breadcrumb">
              <ul class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                  <span></span>
                </li>
              </ul>
            </nav>
          </div>      
          <div class="row">
          <!-- LISTADO SERVICIOS -->
            <div class="col-md-4">
              <div class="card">
                <div
                  class="card-header"
                  style="background: linear-gradient(to right, #494889, #292874)"
                >
                  <h4 class="titulo-card-movimientos float-left">
                    Pagar mis servicios
                  </h4>
                  >
                </div>
  
                <div class="card-body">
                  <ul class="list-group list-group-flush">
                    <li *ngFor="let dato of listadoServicio"
                      class="
                        list-group-item list-group-item-hover
                        d-flex
                        justify-content-between
                        align-items-center
                      "
                    >
                      <h6>{{dato.TipoServicio}}</h6>
                      <a data-toggle="modal" data-target="#PagoServicio" class="btn btn-link float-right pagar" (click)="obtenerId(dato.Id)" >
                        PAGAR</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- CARD DINERO DISPONIBLE -->
            <div class="col-md-8">
              <div class="card mb-4">
                <div class="card-header">
                  <h5 class="float-left">Dinero disponible</h5>
                </div>
                <div class="card-body">
                  <h2 class="card-title texto-peso">
                    <i class=""></i>{{ cuenta[0]?.Saldo | currency: "AR":"$":"1.2-2" }}
                  </h2>
                  <hr />
                  <p class="card-text">CVU: {{ cuenta[0]?.CVU }}</p>
                </div>
              </div> 
         <!-- LISTADO PAGOS SERVICIOS -->
              <div class="card">
              <div
                class="card-header"
              >
                <div>
                  <h5 class="card-movimientos float-left">
                    Mis servición pagados
                  </h5>
                  <!-- <a href="#" class="btn btn-link float-right ver-mas">
                    Ver mas</a -->
                  </div>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li *ngFor="let dato of ultimos"
                    class="
                      list-group-item
                      d-flex
                      justify-content-between
                      align-items-center
                    "
                  >
                    {{dato.TipoServicio}}
                    <span>-{{ dato.Monto | currency:'AR':'$':'1.2-2'}}</span>
                  </li>
                </ul>
              </div>
            </div>
            </div>              
          </div>
          <!-- MODAL -->
          <div class="modal" id="PagoServicio" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Pago de Servicios</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                      <div class="card">
                        <div class="card-body">
                          <form class="forms-sample" [formGroup]="form2" (ngSubmit)="PagoServicio()">
                            <!-- Información -->
                            <div class="form-group">
                              <label><b>Servicio a pagar:</b>  {{servicio[0]?.TipoServicio}}</label><br>
                              <label><b>Fecha de vencimiento:</b> {{servicio[0]?.FechaVencimiento | date:'dd-MM-yyyy'}}</label>
                            </div>
                            <!--Select-->
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">Cuenta de origen</label>                             
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text bg-gradient-primary text-white">CVU</span>
                                  </div>
                                  <select class="form-control form-control-lg" formControlName='CuentaDestino2'>
                                    <option [ngValue]="id_cuenta">{{ cuenta[0]?.CVU }}</option>
                                  </select>
                                </div>
                              </div>
                            <!--Input-->
                              <!-- <div class="form-group">
                                <label>Cuenta de destino</label>
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text bg-gradient-primary text-white">CVU</span>
                                  </div>
                                  <input type="text" class="form-control" maxlength="22" formControlName="CuentaOrigen2"
                                    aria-label="Amount (to the nearest dollar)" [ngClass]="{
                                    'is-invalid': submitted2 && f2.CuentaDestino2.errors
                                  }" required />
                                  <div *ngIf="submitted2 && f2.CuentaDestino2.errors" class="invalid-feedback">
                                    <div *ngIf="f2.CuentaDestino2.errors.required">
                                      El CVU de destino es requerido
                                    </div>
                                    <div *ngIf="f2.CuentaDestino2.errors.minlength">
                                      El CVU de origen debe tener 22 dígitos
                                    </div>
                                  </div>
                                </div>
                              </div> -->
                            <!--Input-->
                              <div class="form-group">
                                <label>Monto a pagar</label>
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text bg-gradient-primary text-white">$</span>
                                  </div>
                                  <input type="text" class="form-control" formControlName="IngresoMonto2"
                                    aria-label="Amount (to the nearest dollar)" [ngClass]="{
                                    'is-invalid': submitted2 && f2.IngresoMonto2.errors
                                  }" required />
                                  <div *ngIf="submitted2 && f2.IngresoMonto2.errors" class="invalid-feedback">
                                    <div *ngIf="f2.IngresoMonto2.errors.required">
                                      Coloque el monto que desea transferir
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="float-right">
                                <button type="button" class="btn btn-light mr-2" data-dismiss="modal">Cancelar</button>        
                                <button type="submit" class="btn btn-gradient-primary">
                                  Pagar
                                </button>
                              </div>
                            </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <app-pie-pagina></app-pie-pagina>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  